In [3]:
import pandas as pd
data_url= 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
data=pd.read_csv(data_url,sep='\s+',header=None)# 스페이스 여러개로 분리되어있기 때문에 저런식으로 나눈다
data.head()

        0     1     2   3      4      5     6       7   8      9     10      11    12    13
0  0.00632  18.0  2.31   0  0.538  6.575  65.2  4.0900   1  296.0  15.3  396.90  4.98  24.0
1  0.02731   0.0  7.07   0  0.469  6.421  78.9  4.9671   2  242.0  17.8  396.90  9.14  21.6
2  0.02729   0.0  7.07   0  0.469  7.185  61.1  4.9671   2  242.0  17.8  392.83  4.03  34.7
3  0.03237   0.0  2.18   0  0.458  6.998  45.8  6.0622   3  222.0  18.7  394.63  2.94  33.4
4  0.06905   0.0  2.18   0  0.458  7.147  54.2  6.0622   3  222.0  18.7  396.90  5.33  36.2

### pandas의 구성 
- series DataFrame 중 하나의 column에 해당하는 데이터의 모음 object
- DataFrame: Data Table 전체를 포함하는 Object

In [ ]:
list_data=[1,2,3,4,5]
example=Series(data=list_data)
example # 여기서 다른 점은 접근 할 수 있는 인덱스 값을 임의로 지정해 줄 수 있다( 예를들어 1,2,3,4->a,b,c,d)이런식으로 나타낼수 있다

- subclass of numpy.ndarry
- Data: any type
- Index labels need not be ordered
- Duplicate are possible(but result in reduced functionaliy)

In [ ]:
list_name=['a','b','c','d','e']

### dataframe memory
- numpy array-like
- Each column can have a different type
- row and column index
- size mutable:insert and delete columns

In [ ]:
DataFrame(raw_data, columns=['age','lastname'])

# loc, iloc
-  loc index location
-  iloc index position
- loc 은 index의 이름
- iloc 은 index number  
    > loc 은 처음부터 어떤 지정값까지 
    > iloc 은 시작이 무조건 0이라고 생각하면 된다

In [ ]:
df.loc[1]
df['age'].iloc[1:]

In [ ]:
df.drop('debt',axis=1)# 이럴경우 column 기준으로 드랍된걸 보여주지만 실제 data가 변하지는 않음
del df['debt']# 이럴경우 아예 삭제 할 수 있다.

### selection with column names

In [4]:
!conda install --y xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

### pandas  built in function
- describe 
- unique 
    - 유일한 값들을 list 형태로 뽑아준다 
    - series data의 유일한 값을 list 로 반환
- sum
    - 기본적인 column 또는 row 값의 연산을 지원
    - sub,mean,min,max,count ,median, mad,var 등
- isnull 
    - null값인지 아닌지 판단하여 index를 반환한다
- corrleation, covariance
    - 상관계수와 공분산을 구하는 함수
    - corr, cov, corrwith