In [71]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import torch 
import torch.nn as nn 
import torch.optim as optim 
import matplotlib.pyplot as plt 
import os 
import sys 
device= torch.device('cuda'if torch.cuda.is_available() else 'cpu')
print(device)

cpu

In [72]:
path='./data/train_job/'
train_data_path=os.path.join(path,'train.csv')
job_company_path=os.path.join(path,'job_companies.csv')
job_tags_path=os.path.join(path,'job_tags.csv')
tags_path=os.path.join(path,'tags.csv')

train_data=pd.read_csv(train_data_path)
job_company=pd.read_csv(job_company_path)
job_tags=pd.read_csv(job_tags_path)

print(job_company.head())
job_company=job_company.dropna()
print(job_company.head())
job_company['companytt']=job_company['companySize'].astype(str)
print(job_company.info())

                          companyID                             jobID  \
0  00411460f7c92d2124a67ea0f4cb5f85  e5f6ad6ce374177eef023bf5d0c018b6
1  1905aedab9bf2477edc068a355bba31a  185e65bc40581880c4f2c82958de8cfe
2  89fcd07f20b6785b92134bd6c1d0fa42  0537fb40a68c18da59a35c2bfe1ca554
3  acf4b89d3d503d8252c9c4ba75ddbf6d  b7ee6f5f9aa5cd17ca1aea43ce848496
4  fb7b9ffa5462084c5f4e7e85a093e6d7  efe937780e95574250dabe07151bdc23

  companySize
0         NaN
1       11-50
2     101-200
3        1-10
4         NaN
                          companyID                             jobID  \
1  1905aedab9bf2477edc068a355bba31a  185e65bc40581880c4f2c82958de8cfe
2  89fcd07f20b6785b92134bd6c1d0fa42  0537fb40a68c18da59a35c2bfe1ca554
3  acf4b89d3d503d8252c9c4ba75ddbf6d  b7ee6f5f9aa5cd17ca1aea43ce848496
5  ac627ab1ccbdb62ec96e702f07f6425b  a1140a3d0df1c81e24ae954d935e8926
6  9ad6aaed513b73148b7d49f70afcfb32  eb86d510361fc23b59f18c1bc9802cc6

  companySize
1       11-50
2     101-200
3        1-10
5      51-100
6       11-50
<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 1 to 732
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   companyID    643 non-null    object
 1   jobID        643 non-null    object
 2   companySize  643 non-null    object
 3   companytt    643 non-null    object
dtypes: object(4)
memory usage: 25.1+ KB
None

In [73]:
import re
temp=job_company['companytt'].tolist()
arr=list()
for i in temp:
    i=re.sub('[가-핧]','',i)
    tt=i.split('-')
    arr.append(tt[0])
job_company['companySize']=pd.DataFrame(arr)
job_company.drop('companytt',axis=1,inplace=True)

In [74]:
job_company.dropna(axis=0)
job_company.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 1 to 732
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   companyID    643 non-null    object
 1   jobID        643 non-null    object
 2   companySize  564 non-null    object
dtypes: object(3)
memory usage: 20.1+ KB

In [79]:
import torch
import torch.nn as nn
import torch.optim as optim 
device= torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device
torch.manual_seed(42)
print(train_data.dtypes.to_list())
x=torch.FloatTensor(train_data.to_numpy()).to(device)

[dtype('O'), dtype('O'), dtype('int64')]

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.